
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

 label.error{
            color:rgb(192, 11, 11);
            font-size: 11px;
        }
        .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
    vertical-align: middle;
}
        .modal-header span {
            color:cornsilk !important;
        }
        a{
            color:#25396f !important;
        }
        body{
             font-family: 'Open Sans', sans-serif;
             font-weight: 400;
             font-size: 15px !important;
        }
        .dx-datagrid-content {
            font-family: 'Open Sans', sans-serif;
        }
        .dx-datagrid-rowsview td {
            font-weight: 600 !important;
             font-size: 13px !important;
             color: #000;
        }
        .brand-link .brand-image {
            margin-left:0 !important;
            margin-right:0 !important;
        }
        .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
            background-color: #bffbff !important;
            color: #326568 !important;
            border-radius: .2rem;
            box-shadow: none;
        }
        button {
            transition: 0.5s all;
        }
        i {
            transition: 0.5s all;
        }
       
        .btn-primary:hover{
            background-color: #3f8c90 !important;
        }
        .bg-primary {
            background-color: #435ebe !important;
            border:0.5px dotted #dee6f5 !important;
            color:cornsilk !important;
        }
        .bg-secondary {
            background-color: #0a1847 !important;
            border:0.5px dotted #dee6f5 !important;
            color:cornsilk !important;
        }

        input[type='checkbox'] {
            -webkit-appearance: none;
            width: 25px;
            height: 22px;
            background-color: rgb(184 222 224) !important;
            border: 1px solid #255e61;
            box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
            padding: 6px;
            border-radius: 0;
            display: inline-block;
            position: relative;
            outline: none;
        }

        input[type='checkbox']:checked {
            background-color: #505c64;
            border: 1px solid #1c311d;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
            color: #99a1a7;
        }

        input[type='checkbox']:checked:after {
            content: '\2714';
            font-size: 16px;
            position: absolute;
            top: -2px;
            left: 5px;
            color: #171d1a;
        }

        .btn-primary:hover i {
            background-color: #255e61 !important;
            color: #e4ff55;
        }
        .badge-primary {
            background-color: #435ebe;
            padding: 0.44em;
            font-weight: 400;
        }
        .modal-content button.close {
            padding: 0;
            margin: 0;
            font-size: 18px;
            font-weight: 400 !important;
        }
        
        /*.active{
            background-color: #dee6f5 !important;
        }*/
       

        .dx-data-row{
            background-color: rgb(255, 255, 255);
            transition:0.33s all;
            font-weight: 550;
        }
        
/** Multip step form */

        #heading {
    text-transform: uppercase;
    color: #255e61;
    font-size: 22px;
    font-weight: 600;
}
.sap-req-form .card {
    padding: 15px;
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #255e61;
    outline-width: 0;
}

#msform .action-button {
    width: 100px;
    background: #255e61;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #255e61;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 18px;
    color: #255e61;
    margin-bottom: 0;
    font-weight: 600;
    text-align: left;
}

.purple-text {
    color: #25396f;
    font-weight: normal
}

.steps {
    font-size: 17px;
    color: #255e61;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 15px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #255e61;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar li i {
    display: block;
    background: #ccc;
    max-width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 auto;
}
#progressbar .active i {
    background: #255e61;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #255e61;
}

.progress {
    height: 7px;
}

.progress-bar {
    background-color: #255e61;
}

.fit-image {
    width: 100%;
    object-fit: cover
}
img.brand-image.img-circle.elevation-3 {
    opacity: 1 !important;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background: #255e61;
    color: #fff !important;
    opacity: 1 !important;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #84ccd0;
    -webkit-box-shadow: 0 0 5px #255e61 !important;
    box-shadow: 0 0 5px #255e61 !important;
}

aside.main-sidebar.sidebar-custom a.nav-link p {
    margin-left: 15px !important;
    /* font-weight: 600; */
    opacity: 1 !important;
}
.demo-container .dx-datagrid .badge {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1;
}
/*.dx-button-content {
    background: #255e61;
    border: 2px solid #255e61;
    border-radius: 4px;
}
.dx-button-content i {
    color: #fff !important;
}
.dx-button-mode-contained.dx-state-hover {
    background-color: #255e61;
    border-color: #fff;
}*/
/*==========theme color apply css===========*/
aside.main-sidebar.sidebar-custom {
    background: #ffffff;
    
}

.sidebar-custom .nav-sidebar .nav-link>.right,.sidebar-custom .nav-sidebar .nav-link>p>.right {
    position: absolute;
    right: 1rem;
    top: 15px;
}
[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: rgb(191 251 255);
}
span.dx-datagrid-nodata {
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/nodata-found.png) no-repeat center;
    font-size: 0;
}
aside.main-sidebar.sidebar-custom a.nav-link {
    color: #0a0a0a !important;
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
}
aside.main-sidebar.sidebar-custom ul.nav.nav-treeview {
    background: #eafeff !important;
}
[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    color: #326568 !important;
    font-weight: 400 !important;
    opacity: 1 !important;
    background: #bffbff;
}

[class*=sidebar-light] .brand-link {
    border-bottom: 1px solid #dee2e6;
    color: rgb(37 94 97) !important;
    font-size: 18px;
}
.content-wrapper {
    background: #f5f5f5 !important;
}
.table-heading-custom .right {
    color: #255e61;
    font-style: normal;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
}
.tab-content .right i {
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    background: #255e61;
    border-radius: 50%;
    color: #e4ff55;
}
.dx-datagrid .dx-row-alt > td, .dx-datagrid .dx-row-alt > tr > td {
    background-color: #fcffec;
}
.dx-data-row:hover {
    background-color: #ecfeff;
    cursor: pointer;
}
.content-wrapper .tab-pane {
    background: #ffffff !important;
    border-radius: 5px;
    box-shadow: 0 0 15px #ccc;
    position: relative;
}
.content-wrapper .tab-pane .dx-datagrid {
    padding: 0 10px !important;
}
aside.main-sidebar.sidebar-custom a.nav-link.active {
    background: #255e61 !important;
    color: #255e61 !important;
}
.dx-datagrid-headers {
    background-color: #fcffec;
    color: black;
    font-weight: 600 !important;
}
.small-box {
    background-color: #ffffff !important;
    padding: 0.22em;
    color: #255e61 !important;
    box-shadow: 0 0 10px #ccc;
}
.small-box-footer {
    background: rgb(37 94 97) !important;
    color: #fff !important;
}

.btn-primary, .modal-header {
        background-color: #255e61 !important;
        border: none !important;
        padding: 0.44rem !important;
        color: white !important;
        box-shadow: 0 0 1px 1px rgb(0 0 0 / 18%);
}
button i {
    background-color: #e4ff55;
    padding: 4px;
    line-height: 1 !important;
    color: #326568;
    font-size: 14px;
}
.custom-theme-btn {
    background-color: #255e61 !important;
    border: none !important;
    padding: 5px !important;
    color: white !important;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 18%);
    height: 35px;
    min-width: 80px;
    border-radius: 5px;
}
aside.main-sidebar.sidebar-custom a.nav-link.active p {
    color: #326568;
}
aside.main-sidebar.sidebar-custom ul.nav.nav-treeview a.nav-link.active {
    background: #d0edef !important;
}
/*==========theme color apply css===========*/
.top-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f5f5f5;
    margin-bottom: 8px;
}

.checkbox-group {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.small-box .icon i {
    color: #e4ff55;
    font-size:40px !important;
}
.btn {
    min-width: 120px;
}










/** SAP Request Page CSS */




    /** Approval Status */
    .orderstatus {
        color: #939393;
        display: block;
        padding: 1em 0;
        position: relative;
        text-align: center;
        min-height: 150px;
      }
      
      
      .orderstatus:before {
        /* content: '';
        height: 100%;
        position: absolute;
        left: 50%;
        width: 2px;
        background: #939393;
        margin: 0 25px; */
        content: '';
        height: 100%;
        position: absolute;
        left: 50%;
        width: 2px;
        background: #939393;
      }
      
      .orderstatus:last-child:before {
        height: 0;
      }
      
     
      
      @media only screen and (max-width: 40em) {
        .orderstatus {
          text-align: left;
        }
        .orderstatus:before {
          left: 0;
        }
        .orderstatus .orderstatus-text {
          left: 0;
          width: 100%;
        }
      }
      
      .orderstatus-text {
        position: relative;
        width: 100%;
        left: 50%;
        text-align: left;
        padding-left: 30px;
        max-width: 300px;
      }
      
      @media only screen and (min-width: 40em) {
        .orderstatus:nth-child(2n) .orderstatus-text {
          left: -50%;
          text-align: right;
          padding-right: 30px;
          padding-left: 0;
        }
      }
      
      .orderstatus-container {
        padding: 2em 0;
        background: #fbfbfb;
      }
      
      /*.orderstatus time {
        display: block;
        font-size: 1em;
        border:1px solid grey;
        padding:5px;
        border-radius: 5px;
        color: #939393;
      }*/
      
      
      
      @media only screen and (max-width: 40em) {
        .orderstatus-container {
          text-align: center;
        }
      }
      
      .orderstatus-check {
        /* font-family: "Helvetica", Arial, sans-serif;
        border: 2px solid #939393;
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 48px;
        border-radius: 50%;
        margin-bottom: 0.5em;
        background: #fff;
        z-index: 2;
        position: absolute;
        color: #939393;
        left: 50%; */
        border: 2px solid #939393;
        width: 35px;
        height: 35px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        margin-bottom: 0.5em;
        background: #fff;
        z-index: 2;
        position: absolute;
        color: #939393;
        left: calc(50% - 17px);
      }
      
      
      
      @media only screen and (max-width: 40em) {
        .orderstatus-check {
          left: 0;
        }
      }
      
      @keyframes glowing {
        0% { box-shadow: 0 0 -10px #368d22; }
        40% { box-shadow: 0 0 20px #368d22; }
        60% { box-shadow: 0 0 20px #368d22; }
        100% { box-shadow: 0 0 -10px #368d22; }
      }

      @keyframes glowingReject {
        0% { box-shadow: 0 0 -10px #8d2222; }
        40% { box-shadow: 0 0 20px #770f0f; }
        60% { box-shadow: 0 0 20px #741010; }
        100% { box-shadow: 0 0 -10px #490e0e; }
      }

      /** Done and Rejected CSS */
      .done .orderstatus-check  {
        animation: glowing 2500ms infinite;
      }
      .done .orderstatus-check {
        color: #fff;
        border-color: #368d22;
        background: #368d22;
      }
      .orderstatus.done time {
        color: #368d22;
        background: #e8ffe2;
      }
      .orderstatus.done {
        color: rgb(87, 76, 76);
      }

      .orderstatus.done:before {
        background: #32841f;
        
      }

      .rejected .orderstatus-check  {
        animation: glowingReject 2500ms infinite;
      }

      .rejected .orderstatus-check {
        color: #fff;
        border-color: #972118;
        background: #8d2222;
      }

      .orderstatus.rejected {
        color: #8d2222;
      }

      .orderstatus.rejected time {
        color: #8d2222;
        background: #e8ffe2;
      }

      .orderstatus.rejected:before {
        background: #8d2222;
        
      }
      
      .orderstatus-active {
        text-align: center;
        position: relative;
        left: 25px;
        top: 20px;
        color: #939393;
      }
      
      @media only screen and (max-width: 40em) {
        .orderstatus-active {
          display: none;
        }
      }





































